<html>
    <head>
        <title>CRUD Application</title>
        <link rel="shortcut icon" href="{{url_for('static', filename='images/fox.png')}}">
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" />
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/sticky-footer.css')}}" rel="stylesheet">
  </head>