{% include "header.html" %}
  <body class="d-flex flex-column h-100">
  {% block body %}
    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">
      <div class="container">
        <h1 class="mt-5">Python Flask CRUD Web Application</h1>
        <p class="lead">Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
        <!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
<!--  Launch demo modal-->
<!--</button>-->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="{{url_for('insert')}}" method="POST">
              <div class="form-group">
                  <label for="">Name</label>
                  <input type="text" class="form-control" name="name" required="1">
              </div>
              <div class="form-group">
                  <label for="">Email:</label>
                  <input type="text" class="form-control" name="email" required="1">
              </div>
              <div class="form-group">
                  <label for="">Phone:</label>
                  <input type="text" class="form-control" name="phone" required="1">
              </div>
              <div class="form-group">
                  <button class="btn btn-primary" type="submit">Insert Data</button>
              </div>

          </form>
      </div>
    </div>
  </div>
</div>
        <div class="row">
            <div class="col md-12">
                <h2>Some list:
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Add data
                    </button>
                    </h2>
    {%with messages = get_flashed_messages()%}
        {%if messages%}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissable" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label ="close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                    {{message}}
                </div>
        {%endfor%}
    {%endif%}
    {%endwith%}
                <table>
                    <tr>
                        <td>Serial</td>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Phone</td>
                        <td>Action</td>
                    </tr>
                    {% for row in students %}
                        <tr>
                            <td>{{row.0}}</td>
                            <td>{{row.1}}</td>
                            <td>{{row.2}}</td>
                            <td>{{row.3}}</td>
                            <td>
                            <a href="/update/{{row.0}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.0}}">Edit</a>
                            <a href="/delete/{{ row.0 }}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure For Delete?')">Delete</a>
                    </td>
                </tr>
                <div id="modaledit{{row.0}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Update Information</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body">
                            <form action="{{ url_for('update') }}" method="POST">
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="hidden"  name="id" value="{{row.0}}">
                                    <input type="text" class="form-control" name="name" value="{{row.1}}">
                                </div>
                                <div class="form-group">
                                    <label>Email:</label>
                                    <input type="text" class="form-control" name="email" value="{{row.2}}">
                                </div>
                                <div class="form-group">
                                    <label>Phone:</label>
                                    <input type="text" class="form-control" name="phone" value="{{row.3}}">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="sbumit">Update</button>
                                </div>
                            </form>








                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
             </div>
        </div>
        {% endfor  %}
                </table>
            </div>
        </div>
    </main>
        <footer class="footer mt-auto py-3">
          <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
          </div>
        </footer>
    {% endblock %}
    </body>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</html>